
/* -------------------- Site Layout -------------------- */

.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow:  2px 2px 5px #888888;
	border-radius: 20px;
	font-family: "Helvetica"
}

.topContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	border: solid 3px gray;
	padding: 0 25px;
	background: linear-gradient(gray, darkgray, gray);
	border-radius: 20px 20px 0 0;
}

.contentContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: solid 3px gray;
	border-radius: 0 0 20px 20px;
	min-height: 800px;
	padding: 10px;
	background-image: url("images/homepage_background.jpg");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}


/* -------------------- Add/Delete CSS -------------------- */

.editItems {
	display: flex;
	flex: 1;
	align-content: center;

}

.addItem__button {
	display: flex;
	justify-content: center;
	padding: 5px;
	height: 16px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.addItem__button:hover {
	border: solid 1px white;
}

.addItem__button:active {
	background-color: lightgray;
	color: black;
	box-shadow: inset 2px 2px 5px #888888;
	border: solid 1px gray;
}

.addItem__icon {
	width: 16px;
}

.deleteItem__button {
	height: 20px;
	width: 20px;
	border: solid 1px gray;
	border-radius: 5px;
	background: url(images/trash.png);
	background-size: contain;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.deleteItem__button:hover {
	border: solid 1px white;
}

.deleteItem__button:active {
	background-color: lightgray;
	color: black;
	box-shadow: inset 2px 2px 5px #888888;
	border: solid 1px gray;
}

.deleteItem__icon {
	width: 16px;
}

/* -------------------- Nav CSS -------------------- */

.nav {
	display: flex;
	justify-content: center;
	flex: 2;
}

.nav__item:link {
	margin: 5px;
	padding: 5px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
}

.nav__item:visited {
	padding: 5px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
}

.nav__item:hover {
	border: solid 1px white;
}

.nav__item:active {
	background-color: lightgray;
	color: black;
	box-shadow: inset 2px 2px 5px #888888;
	border: solid 1px gray;
}


/* -------------------- Add/Delete Form CSS -------------------- */
#addClose {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

#addSongForm {
	visibility: hidden;
	position: absolute;
    justify-content: center;
    top: 25%;
    left: 35%;

	   /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}

.form {
	margin-top: 20px;
	padding: 10px 25px;
	width: 275px;
	background-color: lightgray;
	border: solid 5px darkgray;
	box-shadow: 5px 5px 5px #888888;
	font-size: 18px;
}

.form__item {
	margin: 10px 0;
	border-radius: 20px;
	padding-left: 10px;
	font-size: 18px;
}

.form__item:focus{
	outline: none;
}

.minute {
	margin: -5px 0 -20px 15px;
}

.second {
	margin: 10px 0 10px 15px;
}

.genre {
	background-color: white;
	margin-bottom: 20px;
}

.songrating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.songrating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.songrating:hover .songrating-star:hover,
.songrating:hover .songrating-star:hover ~ .songrating-star,
.songrating-input:checked ~ .songrating-star {
    background-position: 0 0;
}
.songrating-star,
.songrating:hover .songrating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

.albumrating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
    margin-top: 20px;
}
.albumrating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.albumrating:hover .albumrating-star:hover,
.albumrating:hover .albumrating-star:hover ~ .albumrating-star,
.albumrating-input:checked ~ .albumrating-star {
    background-position: 0 0;
}
.albumrating-star,
.albumrating:hover .songrating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

.submit {
	background-color: white;
}

.submit:hover {
	border-color: white;
}


/* -------------------- Song List CSS -------------------- */

.table, .table__header, .table__data {
    border: 2px solid gray;
    text-align: center;
}

.table {
	width: 100%;
	border-collapse: collapse;
	
}

.table__header {
	height: 30px;
	background-color: lightgray;
}

.table__data {
	padding: 2px;
	background-color:rgba(255, 255, 255, 0.75);
}

/* -------------------- Artist List CSS -------------------- */


.artistTable, .artistTable__header, .artistTable__data {
    border: 2px solid gray;
    text-align: center;
}

.artistTable {
	width: 450px;
	border-collapse: collapse;
	
}

.artistTable__header {
	height: 30px;
	background-color: lightgray;
}

.artistTable__data {
	padding: 2px;
	background-color:rgba(255, 255, 255, 0.75);
}

.artistTable__link {
	color: black;
	text-decoration: none;
}

.artistTable__link:visited {
	color: black;
}

.artistTable__link:hover {
	text-shadow: 0px 0px 2px rgba(100, 100, 100, 1);
}

/* -------------------- Album List CSS -------------------- */

.albumTable, .albumTable__header, .ablbumTable__data {
    border: 2px solid gray;
    text-align: center;
}

.albumTable {
	width: 450px;
	border-collapse: collapse;
	
}

.albumTable__header {
	height: 30px;
	background-color: lightgray;
}

.albumTable__data {
	padding: 2px;
	background-color:rgba(255, 255, 255, 0.75);
}

.albumTable__link {
	color: black;
	text-decoration: none;
}

.albumTable__link:visited {
	color: black;
}

.albumTable__link:hover {
	text-shadow: 0px 0px 2px rgba(100, 100, 100, 1);
}

 /*-------------------- Error Message CSS -------------------*/
#errorMessage {
	visibility: hidden;

	/* some styles to position the modal at the center of the page */
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 150px;
    margin-left: -200px;
    margin-top: -150px;
    background-color: white;
    border: solid 1px black;
    box-shadow: 2px 2px 2px black;
  
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}

.errorMessage {
	display: flex;
	justify-content: center;
	margin: 5px 20px 20px 20px;
	font-size: 24px;
}

#deleteSongForm{
	visibility: hidden;
	position: absolute;
    justify-content: center;
    top: 25%;
    left: 35%;

	   /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}
/* ------------------------------- Artist info Tabs ---------------- */

#topAlbums {
	display: none;
}

#similarArtists{
	display: none;
}

#topTracks{
	display: none;
}

.artistTab {
	display: flex;
	flex-flow: row;
	margin: 30px 0px 0px 0px;
	border-bottom: solid 3px grey;
	border-top: solid 3px grey;
	border-right: solid 3px grey;
	border-radius: 5px 5px 0 0;
}

.artistTab a {
	text-decoration: none;
	color: black;
}

.tab {
	padding: 10px;
	border-left: solid 3px grey;
}

.tabContent{
	flex-flow: row;
	position: absolute;
	left: 50vw;
	transform: translate(-50%, 0%);
	border-radius: 5px;
	padding: 10px;
	background-color: grey;
}

.tabContent__image {
	width: 250px;
	margin: 10px;
	border: solid 1px black;
}

/* ------------------- Artist Bio Style --------------- */

.artistSongButton {
	margin: 5px;
	padding: 5px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: lightgray;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
}

.artistSongButton:visited {
	padding: 5px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: lightgray;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
}

.artistSongButton:hover {
	border: solid 1px black;
}

.artistSongButton:active {
	background-color: lightgray;
	color: black;
	box-shadow: inset 2px 2px 5px #888888;
	border: solid 1px gray;
}

.artistBio {
	margin-top: 30px;
	width: 600px;
	background-color:rgba(255, 255, 255, 0.75);
}

/* ------------------ Album Detail CCS ----------------*/

.albumView {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.albumTitle {
	margin-bottom: 5px;
	display: flex;
	width: 100%;
	justify-content: center;
	font-size: 32px;
	font-weight: bold;
}

.albumArtist {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	justify-content: center;
}

.albumCover {
	margin: 25px;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.albumUrl {
	display: flex;
	justify-content: center;
	width: 300px;
	box-shadow: 3px 3px 5px gray;
}

.albumDisplay__img {
	display: flex;
	justify-content: center;
	border: solid 3px black;

}

.trackList {
	font-size: 90%;
	height: 270px;
	width: 270px;
	padding: 15px;
	border: solid 3px black;
	background-color: rgba(255,255,255,0.75);
	box-shadow: 3px 3px 5px gray;

}

.trackList__list {
	list-style-type: none;
}

/* -------------------- Back Arrow CSS -------------*/

.backArrow__layout{
	display: flex;
	align-self: flex-start;
	justify-content: flex-start;
	margin-left: 30px;
}
.backArrow {
	width: 32px;
}

/* -------------------------- Artist link in Artist Tabs ----------- */

.tabContent__link {
	display: flex;
	justify-content: center;
	color: white;
}

.tabContent__link:visited {
	color: white;
}


.artistTitle {
	color: black;
}

.artistTitle:visited {
	color: black;
}