<h1>Welcome to the Music Database!</h1>

	<p class="homeContent">To view your music select songs at the top.</p>

	<p class="homeContent">Please add songs to the database using the '+' button on the left.</p>