<form class="form" action="/delete" method="post">
    
    <p>To delete specific song please include all the information you know.<p><br>

    <p>To delete an entire Album only complete the album box</p><br>

    Song:
	<input class="form__item" type="text" name="songdeleteParam"><br>

	Artist:
	<input class="form__item" type="text" name="artistdeleteParam"><br>

	Album:
	<input class="form__item" type="text" name="albumdeleteParam"><br>
	
    <input class="form__item submit" type="submit" name="submit">
</form>